/* @import "tailwindcss"; */
@layer theme, base, components, utilities;

/* @import "tailwindcss/preflight"; */
@tailwind utilities;

:root {
  --charcoal-blue-grey-one-color: #27343a;
  --slate-gray-secondary-two-color: #5b787c;
  --misty-teal-three-color: #89b4bc;
  --light-gray-four-color: #cecccd;
  --neutral-five-color: #efeeea;
  --charcoal-blue-grey: #27343a;
  --slate-gray-secondary: #5b787c;
  --misty-teal: #89b4bc;
  --light-gray: #cecccd;
  --neutral-bg: #efeeea;

  --gradient-background: linear-gradient(
    90deg,
    rgba(91, 120, 124, 1) 0%,
    rgba(137, 180, 188, 1) 35%
  );
}
